-- CreateTable
CREATE TABLE `super_admins` (
    `super_admin_id` INTEGER NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(191) NOT NULL,
    `email` VARCHAR(191) NOT NULL,
    `password_hash` VARCHAR(191) NOT NULL,
    `is_active` BOOLEAN NOT NULL DEFAULT true,
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updated_at` DATETIME(3) NOT NULL,

    UNIQUE INDEX `super_admins_email_key`(`email`),
    PRIMARY KEY (`super_admin_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `platform_plans` (
    `plan_id` INTEGER NOT NULL AUTO_INCREMENT,
    `tier` ENUM('FREE', 'PRO', 'PLUS') NOT NULL,
    `name` VARCHAR(191) NOT NULL,
    `max_coaches` INTEGER NULL,
    `max_students` INTEGER NULL,
    `price_monthly` DECIMAL(10, 2) NOT NULL DEFAULT 0,
    `is_active` BOOLEAN NOT NULL DEFAULT true,
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updated_at` DATETIME(3) NOT NULL,

    UNIQUE INDEX `platform_plans_tier_key`(`tier`),
    PRIMARY KEY (`plan_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `academies` (
    `academy_id` INTEGER NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(191) NOT NULL,
    `owner_name` VARCHAR(191) NULL,
    `email` VARCHAR(191) NULL,
    `phone_number` VARCHAR(191) NULL,
    `address` TEXT NULL,
    `city` VARCHAR(191) NULL,
    `state` VARCHAR(191) NULL,
    `country` VARCHAR(191) NULL,
    `pincode` VARCHAR(191) NULL,
    `latitude` DECIMAL(10, 7) NULL,
    `longitude` DECIMAL(10, 7) NULL,
    `logo_url` VARCHAR(191) NULL,
    `subscription_tier` ENUM('FREE', 'PRO', 'PLUS') NOT NULL DEFAULT 'FREE',
    `subscription_plan` VARCHAR(191) NULL,
    `subscription_starts_at` DATETIME(3) NULL,
    `subscription_expires_at` DATETIME(3) NULL,
    `status` ENUM('PENDING', 'ACTIVE', 'SUSPENDED', 'EXPIRED') NOT NULL DEFAULT 'PENDING',
    `registration_fee_default` DECIMAL(10, 2) NOT NULL DEFAULT 0,
    `attendance_radius_meters` INTEGER NOT NULL DEFAULT 100,
    `receipt_template` TEXT NULL,
    `notification_prefs` TEXT NULL,
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updated_at` DATETIME(3) NOT NULL,

    UNIQUE INDEX `academies_email_key`(`email`),
    PRIMARY KEY (`academy_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `gps_attendance_settings` (
    `settings_id` INTEGER NOT NULL AUTO_INCREMENT,
    `academy_id` INTEGER NOT NULL,
    `gps_verification_enabled` BOOLEAN NOT NULL DEFAULT true,
    `attendance_radius_meters` INTEGER NOT NULL DEFAULT 200,
    `admin_override_enabled` BOOLEAN NOT NULL DEFAULT true,
    `require_student_gps` BOOLEAN NOT NULL DEFAULT true,
    `require_coach_gps` BOOLEAN NOT NULL DEFAULT true,
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updated_at` DATETIME(3) NOT NULL,

    UNIQUE INDEX `gps_attendance_settings_academy_id_key`(`academy_id`),
    PRIMARY KEY (`settings_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `users` (
    `user_id` INTEGER NOT NULL AUTO_INCREMENT,
    `academy_id` INTEGER NULL,
    `name` VARCHAR(191) NOT NULL,
    `first_name` VARCHAR(191) NULL,
    `middle_name` VARCHAR(191) NULL,
    `last_name` VARCHAR(191) NULL,
    `email` VARCHAR(191) NOT NULL,
    `password_hash` VARCHAR(191) NOT NULL,
    `role` ENUM('SUPER_ADMIN', 'ACADEMY_ADMIN', 'COACH', 'PARENT') NOT NULL DEFAULT 'ACADEMY_ADMIN',
    `is_deleted` BOOLEAN NOT NULL DEFAULT false,
    `deleted_at` DATETIME(3) NULL,
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updated_at` DATETIME(3) NOT NULL,

    UNIQUE INDEX `users_email_key`(`email`),
    INDEX `users_academy_id_idx`(`academy_id`),
    PRIMARY KEY (`user_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `parents` (
    `parent_id` INTEGER NOT NULL AUTO_INCREMENT,
    `academy_id` INTEGER NOT NULL,
    `name` VARCHAR(191) NOT NULL,
    `email` VARCHAR(191) NOT NULL,
    `phone` VARCHAR(191) NULL,
    `password_hash` VARCHAR(191) NOT NULL,
    `is_active` BOOLEAN NOT NULL DEFAULT true,
    `must_change_password` BOOLEAN NOT NULL DEFAULT true,
    `last_login_at` DATETIME(3) NULL,
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updated_at` DATETIME(3) NOT NULL,

    INDEX `parents_academy_id_idx`(`academy_id`),
    UNIQUE INDEX `parents_email_academy_id_key`(`email`, `academy_id`),
    PRIMARY KEY (`parent_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `coaches` (
    `coach_id` INTEGER NOT NULL AUTO_INCREMENT,
    `academy_id` INTEGER NOT NULL,
    `name` VARCHAR(191) NOT NULL,
    `first_name` VARCHAR(191) NULL,
    `middle_name` VARCHAR(191) NULL,
    `last_name` VARCHAR(191) NULL,
    `specialization` VARCHAR(191) NULL,
    `phone_number` VARCHAR(191) NULL,
    `email` VARCHAR(191) NULL,
    `password_hash` VARCHAR(191) NULL,
    `status` ENUM('ACTIVE', 'INACTIVE') NOT NULL DEFAULT 'ACTIVE',
    `is_deleted` BOOLEAN NOT NULL DEFAULT false,
    `deleted_at` DATETIME(3) NULL,
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updated_at` DATETIME(3) NOT NULL,

    UNIQUE INDEX `coaches_academy_id_email_key`(`academy_id`, `email`),
    PRIMARY KEY (`coach_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `GlobalSport` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(191) NOT NULL,
    `icon` VARCHAR(191) NOT NULL DEFAULT '≡ƒÅà',
    `attributes` TEXT NOT NULL,
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updated_at` DATETIME(3) NOT NULL,

    UNIQUE INDEX `GlobalSport_name_key`(`name`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `sports` (
    `sport_id` INTEGER NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(191) NOT NULL,
    `description` TEXT NULL,
    `base_fee` DECIMAL(10, 2) NOT NULL DEFAULT 0,
    `status` ENUM('ACTIVE', 'INACTIVE') NOT NULL DEFAULT 'ACTIVE',
    `academy_id` INTEGER NULL,
    `is_custom` BOOLEAN NOT NULL DEFAULT false,
    `sport_center` TEXT NULL,
    `latitude` DECIMAL(10, 7) NULL,
    `longitude` DECIMAL(10, 7) NULL,
    `use_custom_location` BOOLEAN NOT NULL DEFAULT false,
    `global_sport_id` INTEGER NULL,
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updated_at` DATETIME(3) NOT NULL,

    INDEX `sports_academy_id_idx`(`academy_id`),
    INDEX `sports_global_sport_id_idx`(`global_sport_id`),
    UNIQUE INDEX `sports_name_academy_id_key`(`name`, `academy_id`),
    PRIMARY KEY (`sport_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `duration_plans` (
    `plan_id` INTEGER NOT NULL AUTO_INCREMENT,
    `academy_id` INTEGER NOT NULL,
    `name` VARCHAR(191) NOT NULL,
    `duration_months` INTEGER NOT NULL,
    `multiplier` DECIMAL(5, 2) NOT NULL DEFAULT 1,
    `status` ENUM('ACTIVE', 'INACTIVE') NOT NULL DEFAULT 'ACTIVE',
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updated_at` DATETIME(3) NOT NULL,

    INDEX `duration_plans_academy_id_idx`(`academy_id`),
    PRIMARY KEY (`plan_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `batches` (
    `batch_id` INTEGER NOT NULL AUTO_INCREMENT,
    `academy_id` INTEGER NOT NULL,
    `name` VARCHAR(191) NOT NULL,
    `sport_id` INTEGER NULL,
    `timing` VARCHAR(191) NULL,
    `start_time` VARCHAR(191) NULL,
    `end_time` VARCHAR(191) NULL,
    `max_capacity` INTEGER NULL,
    `status` ENUM('ACTIVE', 'INACTIVE') NOT NULL DEFAULT 'ACTIVE',
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updated_at` DATETIME(3) NOT NULL,

    INDEX `batches_academy_id_idx`(`academy_id`),
    INDEX `batches_sport_id_idx`(`sport_id`),
    PRIMARY KEY (`batch_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `batch_coaches` (
    `batch_coach_id` INTEGER NOT NULL AUTO_INCREMENT,
    `batch_id` INTEGER NOT NULL,
    `coach_id` INTEGER NOT NULL,
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    UNIQUE INDEX `batch_coaches_batch_id_coach_id_key`(`batch_id`, `coach_id`),
    PRIMARY KEY (`batch_coach_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `students` (
    `student_id` INTEGER NOT NULL AUTO_INCREMENT,
    `academy_id` INTEGER NOT NULL,
    `parent_id` INTEGER NULL,
    `name` VARCHAR(191) NOT NULL,
    `first_name` VARCHAR(191) NULL,
    `middle_name` VARCHAR(191) NULL,
    `last_name` VARCHAR(191) NULL,
    `phone` VARCHAR(191) NULL,
    `parent_name` VARCHAR(191) NULL,
    `parent_phone` VARCHAR(191) NULL,
    `parent_email` VARCHAR(191) NULL,
    `dob` DATE NULL,
    `age` INTEGER NULL,
    `category` VARCHAR(191) NULL,
    `profile_photo` TEXT NULL,
    `joining_date` DATE NULL,
    `gender` VARCHAR(191) NULL,
    `sport_id` INTEGER NULL,
    `batch_id` INTEGER NULL,
    `blood_group` VARCHAR(191) NULL,
    `height` DECIMAL(5, 2) NULL,
    `weight` DECIMAL(5, 2) NULL,
    `fees_status` VARCHAR(191) NOT NULL DEFAULT 'unpaid',
    `status` ENUM('ACTIVE', 'INACTIVE') NOT NULL DEFAULT 'ACTIVE',
    `exit_reason` VARCHAR(191) NULL,
    `exit_note` TEXT NULL,
    `is_deleted` BOOLEAN NOT NULL DEFAULT false,
    `deleted_at` DATETIME(3) NULL,
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updated_at` DATETIME(3) NOT NULL,

    INDEX `students_academy_id_idx`(`academy_id`),
    INDEX `students_batch_id_idx`(`batch_id`),
    PRIMARY KEY (`student_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `student_enrollments` (
    `enrollment_id` INTEGER NOT NULL AUTO_INCREMENT,
    `academy_id` INTEGER NOT NULL,
    `student_id` INTEGER NOT NULL,
    `sport_id` INTEGER NOT NULL,
    `duration_plan_id` INTEGER NULL,
    `batch_id` INTEGER NULL,
    `coach_id` INTEGER NULL,
    `registration_fee` DECIMAL(10, 2) NOT NULL DEFAULT 0,
    `sports_fee` DECIMAL(10, 2) NOT NULL DEFAULT 0,
    `additional_charges` DECIMAL(10, 2) NOT NULL DEFAULT 0,
    `discount` DECIMAL(10, 2) NOT NULL DEFAULT 0,
    `final_fee` DECIMAL(10, 2) NOT NULL DEFAULT 0,
    `paid_amount` DECIMAL(10, 2) NOT NULL DEFAULT 0,
    `next_due_date` DATE NULL,
    `is_active` BOOLEAN NOT NULL DEFAULT true,
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updated_at` DATETIME(3) NOT NULL,

    INDEX `student_enrollments_student_id_idx`(`student_id`),
    INDEX `student_enrollments_academy_id_next_due_date_idx`(`academy_id`, `next_due_date`),
    PRIMARY KEY (`enrollment_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `receipts` (
    `receipt_id` INTEGER NOT NULL AUTO_INCREMENT,
    `receipt_number` VARCHAR(191) NOT NULL,
    `academy_id` INTEGER NOT NULL,
    `student_id` INTEGER NOT NULL,
    `amount` DECIMAL(10, 2) NOT NULL,
    `discount` DECIMAL(10, 2) NOT NULL DEFAULT 0,
    `additional_charges` DECIMAL(10, 2) NOT NULL DEFAULT 0,
    `payment_date` DATETIME(3) NOT NULL,
    `method` VARCHAR(191) NULL,
    `status` ENUM('PENDING', 'COMPLETED', 'FAILED', 'VOID') NOT NULL DEFAULT 'PENDING',
    `proof_url` VARCHAR(191) NULL,
    `remarks` TEXT NULL,
    `rejected_reason` TEXT NULL,
    `approved_by_user_id` INTEGER NULL,
    `collected_by_coach_id` INTEGER NULL,
    `pdf_url` VARCHAR(191) NULL,
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updated_at` DATETIME(3) NOT NULL,

    UNIQUE INDEX `receipts_receipt_number_key`(`receipt_number`),
    INDEX `receipts_academy_id_idx`(`academy_id`),
    INDEX `receipts_student_id_idx`(`student_id`),
    PRIMARY KEY (`receipt_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `attendance_audit_logs` (
    `audit_id` INTEGER NOT NULL AUTO_INCREMENT,
    `academy_id` INTEGER NOT NULL,
    `coach_id` INTEGER NULL,
    `student_id` INTEGER NULL,
    `batch_id` INTEGER NOT NULL,
    `sport_id` INTEGER NULL,
    `gps_latitude` DECIMAL(10, 7) NULL,
    `gps_longitude` DECIMAL(10, 7) NULL,
    `sport_center_latitude` DECIMAL(10, 7) NULL,
    `sport_center_longitude` DECIMAL(10, 7) NULL,
    `distance_meters` INTEGER NULL,
    `gps_accuracy_meters` INTEGER NULL,
    `attendance_radius_meters` INTEGER NULL,
    `batch_start_time` VARCHAR(191) NULL,
    `batch_end_time` VARCHAR(191) NULL,
    `attendance_start_time` DATETIME(3) NOT NULL,
    `attendance_submit_time` DATETIME(3) NOT NULL,
    `status` VARCHAR(191) NOT NULL,
    `reason` TEXT NULL,
    `location_verified` BOOLEAN NOT NULL DEFAULT false,
    `location_source` VARCHAR(191) NULL,
    `device_info` TEXT NULL,
    `ip_address` VARCHAR(191) NULL,
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `attendance_audit_logs_academy_id_idx`(`academy_id`),
    INDEX `attendance_audit_logs_coach_id_idx`(`coach_id`),
    INDEX `attendance_audit_logs_student_id_idx`(`student_id`),
    INDEX `attendance_audit_logs_batch_id_idx`(`batch_id`),
    INDEX `attendance_audit_logs_created_at_idx`(`created_at`),
    PRIMARY KEY (`audit_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `student_attendance` (
    `attendance_id` INTEGER NOT NULL AUTO_INCREMENT,
    `academy_id` INTEGER NOT NULL,
    `student_id` INTEGER NOT NULL,
    `batch_id` INTEGER NOT NULL,
    `date` DATE NOT NULL,
    `status` ENUM('PRESENT', 'ABSENT', 'LATE', 'LEAVE', 'HALF_DAY') NOT NULL,
    `marked_by_coach_id` INTEGER NULL,
    `remarks` TEXT NULL,
    `latitude` DECIMAL(10, 7) NULL,
    `longitude` DECIMAL(10, 7) NULL,
    `distance_from_location_meters` INTEGER NULL,
    `location_verified` BOOLEAN NOT NULL DEFAULT false,
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updated_at` DATETIME(3) NOT NULL,

    INDEX `student_attendance_academy_id_date_idx`(`academy_id`, `date`),
    UNIQUE INDEX `student_attendance_student_id_batch_id_date_key`(`student_id`, `batch_id`, `date`),
    PRIMARY KEY (`attendance_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `coach_attendance` (
    `attendance_id` INTEGER NOT NULL AUTO_INCREMENT,
    `coach_id` INTEGER NOT NULL,
    `academy_id` INTEGER NOT NULL,
    `batch_id` INTEGER NOT NULL,
    `date` DATE NOT NULL,
    `status` ENUM('PRESENT', 'ABSENT', 'LATE') NOT NULL,
    `clock_in_time` DATETIME(3) NULL,
    `clock_out_time` DATETIME(3) NULL,
    `is_clocked_in` BOOLEAN NOT NULL DEFAULT false,
    `marked_by_admin_id` INTEGER NULL,
    `latitude` DECIMAL(10, 7) NULL,
    `longitude` DECIMAL(10, 7) NULL,
    `distance_from_location_meters` INTEGER NULL,
    `location_verified` BOOLEAN NOT NULL DEFAULT false,
    `remarks` TEXT NULL,
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updated_at` DATETIME(3) NOT NULL,

    UNIQUE INDEX `coach_attendance_coach_id_batch_id_date_key`(`coach_id`, `batch_id`, `date`),
    PRIMARY KEY (`attendance_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `daily_student_notes` (
    `note_id` INTEGER NOT NULL AUTO_INCREMENT,
    `academy_id` INTEGER NOT NULL,
    `student_id` INTEGER NOT NULL,
    `batch_id` INTEGER NOT NULL,
    `coach_id` INTEGER NOT NULL,
    `note_date` DATE NOT NULL,
    `performance_notes` TEXT NULL,
    `behaviour_notes` TEXT NULL,
    `achievements` TEXT NULL,
    `improvement_areas` TEXT NULL,
    `emailed_at` DATETIME(3) NULL,
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updated_at` DATETIME(3) NOT NULL,

    INDEX `daily_student_notes_academy_id_student_id_idx`(`academy_id`, `student_id`),
    INDEX `daily_student_notes_academy_id_note_date_idx`(`academy_id`, `note_date`),
    PRIMARY KEY (`note_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `performance_attributes` (
    `attribute_id` INTEGER NOT NULL AUTO_INCREMENT,
    `academy_id` INTEGER NOT NULL,
    `sport_id` INTEGER NOT NULL,
    `name` VARCHAR(191) NOT NULL,
    `status` ENUM('PENDING', 'APPROVED', 'REJECTED') NOT NULL DEFAULT 'PENDING',
    `requested_by_coach_id` INTEGER NULL,
    `reviewed_at` DATETIME(3) NULL,
    `is_deleted` BOOLEAN NOT NULL DEFAULT false,
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updated_at` DATETIME(3) NOT NULL,

    UNIQUE INDEX `performance_attributes_sport_id_name_academy_id_key`(`sport_id`, `name`, `academy_id`),
    PRIMARY KEY (`attribute_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `performance_scores` (
    `score_id` INTEGER NOT NULL AUTO_INCREMENT,
    `academy_id` INTEGER NOT NULL,
    `student_id` INTEGER NOT NULL,
    `attribute_id` INTEGER NOT NULL,
    `coach_id` INTEGER NOT NULL,
    `batch_id` INTEGER NULL,
    `score` INTEGER NOT NULL,
    `notes` TEXT NULL,
    `scored_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `performance_scores_student_id_attribute_id_idx`(`student_id`, `attribute_id`),
    INDEX `performance_scores_batch_id_idx`(`batch_id`),
    UNIQUE INDEX `performance_scores_student_id_attribute_id_key`(`student_id`, `attribute_id`),
    PRIMARY KEY (`score_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `weekly_performance_reports` (
    `report_id` INTEGER NOT NULL AUTO_INCREMENT,
    `student_id` INTEGER NOT NULL,
    `batch_id` INTEGER NOT NULL,
    `coach_id` INTEGER NOT NULL,
    `week_start_date` DATE NOT NULL,
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updated_at` DATETIME(3) NOT NULL,

    INDEX `weekly_performance_reports_student_id_idx`(`student_id`),
    INDEX `weekly_performance_reports_batch_id_idx`(`batch_id`),
    INDEX `weekly_performance_reports_week_start_date_idx`(`week_start_date`),
    UNIQUE INDEX `weekly_performance_reports_student_id_batch_id_week_start_da_key`(`student_id`, `batch_id`, `week_start_date`),
    PRIMARY KEY (`report_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `performance_ratings` (
    `rating_id` INTEGER NOT NULL AUTO_INCREMENT,
    `report_id` INTEGER NOT NULL,
    `attribute_id` INTEGER NOT NULL,
    `score` INTEGER NOT NULL,
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updated_at` DATETIME(3) NOT NULL,

    INDEX `performance_ratings_report_id_idx`(`report_id`),
    UNIQUE INDEX `performance_ratings_report_id_attribute_id_key`(`report_id`, `attribute_id`),
    PRIMARY KEY (`rating_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `enquiries` (
    `enquiry_id` INTEGER NOT NULL AUTO_INCREMENT,
    `academy_id` INTEGER NULL,
    `student_name` VARCHAR(191) NOT NULL,
    `parent_name` VARCHAR(191) NULL,
    `phone` VARCHAR(191) NOT NULL,
    `email` VARCHAR(191) NULL,
    `sport_interested` TEXT NULL,
    `interested_sports` JSON NULL,
    `age` INTEGER NULL,
    `gender` VARCHAR(191) NULL,
    `enquiry_source` ENUM('WALK_IN', 'PHONE', 'WEBSITE', 'WHATSAPP', 'REFERRAL', 'SOCIAL_MEDIA') NULL,
    `enquiry_date` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `follow_up_date` DATETIME(3) NULL,
    `status` ENUM('NEW', 'CONTACTED', 'TRIAL_SCHEDULED', 'TRIAL_COMPLETED', 'CONVERTED', 'CLOSED', 'NOT_INTERESTED') NOT NULL DEFAULT 'NEW',
    `notes` TEXT NULL,
    `converted_to_student_id` INTEGER NULL,
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updated_at` DATETIME(3) NOT NULL,

    INDEX `enquiries_academy_id_created_at_idx`(`academy_id`, `created_at`),
    INDEX `enquiries_academy_id_status_idx`(`academy_id`, `status`),
    INDEX `enquiries_follow_up_date_idx`(`follow_up_date`),
    PRIMARY KEY (`enquiry_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `notifications` (
    `notification_id` INTEGER NOT NULL AUTO_INCREMENT,
    `academy_id` INTEGER NULL,
    `user_id` INTEGER NULL,
    `coach_id` INTEGER NULL,
    `type` ENUM('DUE_FEE', 'OVERDUE_FEE', 'COACH_ABSENT', 'SUBSCRIPTION_EXPIRY', 'NEW_STUDENT', 'ATTENDANCE_REMINDER', 'PERFORMANCE_REMINDER', 'ATTRIBUTE_REQUEST', 'GENERAL') NOT NULL,
    `title` VARCHAR(191) NOT NULL,
    `body` TEXT NOT NULL,
    `is_read` BOOLEAN NOT NULL DEFAULT false,
    `metadata` TEXT NULL,
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `notifications_academy_id_is_read_idx`(`academy_id`, `is_read`),
    PRIMARY KEY (`notification_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `audit_logs` (
    `audit_id` INTEGER NOT NULL AUTO_INCREMENT,
    `academy_id` INTEGER NULL,
    `actor_type` VARCHAR(191) NOT NULL,
    `actor_id` INTEGER NULL,
    `action` VARCHAR(191) NOT NULL,
    `entity_type` VARCHAR(191) NULL,
    `entity_id` INTEGER NULL,
    `metadata` TEXT NULL,
    `ip_address` VARCHAR(191) NULL,
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `audit_logs_academy_id_created_at_idx`(`academy_id`, `created_at`),
    PRIMARY KEY (`audit_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `global_settings` (
    `setting_id` INTEGER NOT NULL AUTO_INCREMENT,
    `setting_key` VARCHAR(191) NOT NULL,
    `setting_value` TEXT NOT NULL,
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updated_at` DATETIME(3) NOT NULL,

    UNIQUE INDEX `global_settings_setting_key_key`(`setting_key`),
    PRIMARY KEY (`setting_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `password_resets` (
    `reset_id` INTEGER NOT NULL AUTO_INCREMENT,
    `email` VARCHAR(191) NOT NULL,
    `code_hash` VARCHAR(191) NOT NULL,
    `account_type` VARCHAR(191) NOT NULL,
    `expires_at` DATETIME(3) NOT NULL,
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `password_resets_email_idx`(`email`),
    PRIMARY KEY (`reset_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `announcements` (
    `announcement_id` INTEGER NOT NULL AUTO_INCREMENT,
    `academy_id` INTEGER NOT NULL,
    `title` VARCHAR(191) NOT NULL,
    `message` TEXT NOT NULL,
    `target_type` VARCHAR(191) NOT NULL,
    `batch_id` INTEGER NULL,
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `announcements_academy_id_idx`(`academy_id`),
    INDEX `announcements_target_type_idx`(`target_type`),
    PRIMARY KEY (`announcement_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `in_app_notifications` (
    `notification_id` INTEGER NOT NULL AUTO_INCREMENT,
    `announcement_id` INTEGER NOT NULL,
    `coach_id` INTEGER NULL,
    `student_id` INTEGER NULL,
    `is_read` BOOLEAN NOT NULL DEFAULT false,
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    INDEX `in_app_notifications_coach_id_idx`(`coach_id`),
    INDEX `in_app_notifications_student_id_idx`(`student_id`),
    INDEX `in_app_notifications_is_read_idx`(`is_read`),
    PRIMARY KEY (`notification_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `fees` (
    `fee_id` INTEGER NOT NULL AUTO_INCREMENT,
    `academy_id` INTEGER NOT NULL,
    `student_id` INTEGER NOT NULL,
    `amount_due` DECIMAL(10, 2) NOT NULL,
    `due_date` DATETIME(3) NOT NULL,
    `status` ENUM('PENDING', 'PAID', 'OVERDUE', 'WAIVED') NOT NULL DEFAULT 'PENDING',
    `description` VARCHAR(191) NULL,
    `paid_amount` DECIMAL(10, 2) NOT NULL DEFAULT 0,
    `paid_at` DATETIME(3) NULL,
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updated_at` DATETIME(3) NOT NULL,

    INDEX `fees_academy_id_idx`(`academy_id`),
    INDEX `fees_student_id_idx`(`student_id`),
    INDEX `fees_due_date_idx`(`due_date`),
    INDEX `fees_status_idx`(`status`),
    PRIMARY KEY (`fee_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- AddForeignKey
ALTER TABLE `gps_attendance_settings` ADD CONSTRAINT `gps_settings_academy_id_fk` FOREIGN KEY (`academy_id`) REFERENCES `academies`(`academy_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `users` ADD CONSTRAINT `users_academy_id_fk` FOREIGN KEY (`academy_id`) REFERENCES `academies`(`academy_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `parents` ADD CONSTRAINT `parents_academy_id_fk` FOREIGN KEY (`academy_id`) REFERENCES `academies`(`academy_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `coaches` ADD CONSTRAINT `coaches_academy_id_fk` FOREIGN KEY (`academy_id`) REFERENCES `academies`(`academy_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `sports` ADD CONSTRAINT `sports_academy_id_fk` FOREIGN KEY (`academy_id`) REFERENCES `academies`(`academy_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `sports` ADD CONSTRAINT `sports_global_sport_id_fk` FOREIGN KEY (`global_sport_id`) REFERENCES `GlobalSport`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `duration_plans` ADD CONSTRAINT `duration_plans_academy_id_fk` FOREIGN KEY (`academy_id`) REFERENCES `academies`(`academy_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `batches` ADD CONSTRAINT `batches_academy_id_fk` FOREIGN KEY (`academy_id`) REFERENCES `academies`(`academy_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `batches` ADD CONSTRAINT `batches_sport_id_fk` FOREIGN KEY (`sport_id`) REFERENCES `sports`(`sport_id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `batch_coaches` ADD CONSTRAINT `batch_coaches_batch_id_fk` FOREIGN KEY (`batch_id`) REFERENCES `batches`(`batch_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `batch_coaches` ADD CONSTRAINT `batch_coaches_coach_id_fk` FOREIGN KEY (`coach_id`) REFERENCES `coaches`(`coach_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `students` ADD CONSTRAINT `students_academy_id_fk` FOREIGN KEY (`academy_id`) REFERENCES `academies`(`academy_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `students` ADD CONSTRAINT `students_parent_id_fk` FOREIGN KEY (`parent_id`) REFERENCES `parents`(`parent_id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `students` ADD CONSTRAINT `students_sport_id_fk` FOREIGN KEY (`sport_id`) REFERENCES `sports`(`sport_id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `students` ADD CONSTRAINT `students_batch_id_fk` FOREIGN KEY (`batch_id`) REFERENCES `batches`(`batch_id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `student_enrollments` ADD CONSTRAINT `enrollments_academy_id_fk` FOREIGN KEY (`academy_id`) REFERENCES `academies`(`academy_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `student_enrollments` ADD CONSTRAINT `enrollments_student_id_fk` FOREIGN KEY (`student_id`) REFERENCES `students`(`student_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `student_enrollments` ADD CONSTRAINT `enrollments_sport_id_fk` FOREIGN KEY (`sport_id`) REFERENCES `sports`(`sport_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `student_enrollments` ADD CONSTRAINT `enrollments_duration_plan_id_fk` FOREIGN KEY (`duration_plan_id`) REFERENCES `duration_plans`(`plan_id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `student_enrollments` ADD CONSTRAINT `enrollments_batch_id_fk` FOREIGN KEY (`batch_id`) REFERENCES `batches`(`batch_id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `student_enrollments` ADD CONSTRAINT `enrollments_coach_id_fk` FOREIGN KEY (`coach_id`) REFERENCES `coaches`(`coach_id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `receipts` ADD CONSTRAINT `receipts_academy_id_fk_unique` FOREIGN KEY (`academy_id`) REFERENCES `academies`(`academy_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `receipts` ADD CONSTRAINT `receipts_student_id_fk` FOREIGN KEY (`student_id`) REFERENCES `students`(`student_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `receipts` ADD CONSTRAINT `receipts_approved_by_fk` FOREIGN KEY (`approved_by_user_id`) REFERENCES `users`(`user_id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `receipts` ADD CONSTRAINT `receipts_collected_by_fk` FOREIGN KEY (`collected_by_coach_id`) REFERENCES `coaches`(`coach_id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `attendance_audit_logs` ADD CONSTRAINT `attendance_audit_academy_id_fk` FOREIGN KEY (`academy_id`) REFERENCES `academies`(`academy_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `attendance_audit_logs` ADD CONSTRAINT `attendance_audit_coach_id_fk` FOREIGN KEY (`coach_id`) REFERENCES `coaches`(`coach_id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `attendance_audit_logs` ADD CONSTRAINT `attendance_audit_student_id_fk` FOREIGN KEY (`student_id`) REFERENCES `students`(`student_id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `attendance_audit_logs` ADD CONSTRAINT `attendance_audit_batch_id_fk` FOREIGN KEY (`batch_id`) REFERENCES `batches`(`batch_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `attendance_audit_logs` ADD CONSTRAINT `attendance_audit_sport_id_fk` FOREIGN KEY (`sport_id`) REFERENCES `sports`(`sport_id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `student_attendance` ADD CONSTRAINT `student_att_academy_id_fk` FOREIGN KEY (`academy_id`) REFERENCES `academies`(`academy_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `student_attendance` ADD CONSTRAINT `student_att_student_id_fk` FOREIGN KEY (`student_id`) REFERENCES `students`(`student_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `student_attendance` ADD CONSTRAINT `student_att_batch_id_fk` FOREIGN KEY (`batch_id`) REFERENCES `batches`(`batch_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `student_attendance` ADD CONSTRAINT `student_att_coach_id_fk` FOREIGN KEY (`marked_by_coach_id`) REFERENCES `coaches`(`coach_id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `coach_attendance` ADD CONSTRAINT `coach_att_coach_id_fk` FOREIGN KEY (`coach_id`) REFERENCES `coaches`(`coach_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `coach_attendance` ADD CONSTRAINT `coach_att_academy_id_fk` FOREIGN KEY (`academy_id`) REFERENCES `academies`(`academy_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `coach_attendance` ADD CONSTRAINT `coach_att_batch_id_fk` FOREIGN KEY (`batch_id`) REFERENCES `batches`(`batch_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `coach_attendance` ADD CONSTRAINT `coach_att_admin_id_fk` FOREIGN KEY (`marked_by_admin_id`) REFERENCES `users`(`user_id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `daily_student_notes` ADD CONSTRAINT `daily_notes_academy_id_fk` FOREIGN KEY (`academy_id`) REFERENCES `academies`(`academy_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `daily_student_notes` ADD CONSTRAINT `daily_notes_student_id_fk` FOREIGN KEY (`student_id`) REFERENCES `students`(`student_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `daily_student_notes` ADD CONSTRAINT `daily_notes_batch_id_fk` FOREIGN KEY (`batch_id`) REFERENCES `batches`(`batch_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `daily_student_notes` ADD CONSTRAINT `daily_notes_coach_id_fk` FOREIGN KEY (`coach_id`) REFERENCES `coaches`(`coach_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `performance_attributes` ADD CONSTRAINT `perf_attr_academy_id_fk` FOREIGN KEY (`academy_id`) REFERENCES `academies`(`academy_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `performance_attributes` ADD CONSTRAINT `perf_attr_sport_id_fk` FOREIGN KEY (`sport_id`) REFERENCES `sports`(`sport_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `performance_attributes` ADD CONSTRAINT `perf_attr_coach_id_fk` FOREIGN KEY (`requested_by_coach_id`) REFERENCES `coaches`(`coach_id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `performance_scores` ADD CONSTRAINT `perf_score_academy_id_fk` FOREIGN KEY (`academy_id`) REFERENCES `academies`(`academy_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `performance_scores` ADD CONSTRAINT `perf_score_student_id_fk` FOREIGN KEY (`student_id`) REFERENCES `students`(`student_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `performance_scores` ADD CONSTRAINT `perf_score_attribute_id_fk` FOREIGN KEY (`attribute_id`) REFERENCES `performance_attributes`(`attribute_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `performance_scores` ADD CONSTRAINT `perf_score_coach_id_fk` FOREIGN KEY (`coach_id`) REFERENCES `coaches`(`coach_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `performance_scores` ADD CONSTRAINT `perf_score_batch_id_fk` FOREIGN KEY (`batch_id`) REFERENCES `batches`(`batch_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `weekly_performance_reports` ADD CONSTRAINT `weekly_report_student_id_fk` FOREIGN KEY (`student_id`) REFERENCES `students`(`student_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `weekly_performance_reports` ADD CONSTRAINT `weekly_report_batch_id_fk` FOREIGN KEY (`batch_id`) REFERENCES `batches`(`batch_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `weekly_performance_reports` ADD CONSTRAINT `weekly_report_coach_id_fk` FOREIGN KEY (`coach_id`) REFERENCES `coaches`(`coach_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `performance_ratings` ADD CONSTRAINT `perf_rating_report_id_fk` FOREIGN KEY (`report_id`) REFERENCES `weekly_performance_reports`(`report_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `performance_ratings` ADD CONSTRAINT `perf_rating_attribute_id_fk` FOREIGN KEY (`attribute_id`) REFERENCES `performance_attributes`(`attribute_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `enquiries` ADD CONSTRAINT `enquiries_academy_id_fk` FOREIGN KEY (`academy_id`) REFERENCES `academies`(`academy_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `notifications` ADD CONSTRAINT `notifications_academy_id_fk` FOREIGN KEY (`academy_id`) REFERENCES `academies`(`academy_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `audit_logs` ADD CONSTRAINT `audit_logs_academy_id_fk` FOREIGN KEY (`academy_id`) REFERENCES `academies`(`academy_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `announcements` ADD CONSTRAINT `announcements_academy_id_fk` FOREIGN KEY (`academy_id`) REFERENCES `academies`(`academy_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `announcements` ADD CONSTRAINT `announcements_batch_id_fk` FOREIGN KEY (`batch_id`) REFERENCES `batches`(`batch_id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `in_app_notifications` ADD CONSTRAINT `in_app_notif_announcement_id_fk` FOREIGN KEY (`announcement_id`) REFERENCES `announcements`(`announcement_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `fees` ADD CONSTRAINT `fees_academy_id_fk` FOREIGN KEY (`academy_id`) REFERENCES `academies`(`academy_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `fees` ADD CONSTRAINT `fees_student_id_fk` FOREIGN KEY (`student_id`) REFERENCES `students`(`student_id`) ON DELETE CASCADE ON UPDATE CASCADE;

